body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    font-family:Sans-serif, serif;
}

button{
    font-family:Sans-serif, serif;
    height: 34px;
    border-radius: 5px;
}

.funnySwitch{
    display: flex;
    align-items: center;
}

.darkSwitch{
    display: flex;
    align-items: center;
}

/* The switch - the box around the slider 
 credit goes to this website
 https://www.w3schools.com/howto/howto_css_switch.asp*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/* The switch related CSS ends here*/

#mainContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 73, 73);
    border: 10px solid rgb(209, 73, 73);
    border-radius: 10px;
}

#headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
}

#gridContainer{
    display: flex;
    flex-direction: row;
    width: 960px;
    flex-wrap: wrap;
    border: 1px solid black; 
    background-color: white;
}

.square{
    width: 8px;
    height: 8px;
    border: 1px solid black; 
    transition: all .4s;
   /* border: 1px solid white; */
}


/*Simplest way to make hovering 
.square:hover{
    background-color: black;
}*/


.highlightSquare{
    background-color: black;
    border: 1px solid black;
}