body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    font-family:Sans-serif, serif;
}

button{
    font-family:Sans-serif, serif;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 73, 73);
    border: 10px solid rgb(209, 73, 73);
    border-radius: 10px;
}

#headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

#gridContainer{
    display: flex;
    flex-direction: row;
    width: 960px;
    flex-wrap: wrap;
    border: 1px solid black; 
    background-color: white;
}

.square{
    width: 8px;
    height: 8px;
    border: 1px solid black; 
    transition: all .4s;
   /* border: 1px solid white; */
}


/*Simplest way to make hovering 
.square:hover{
    background-color: black;
}*/


.highlightSquare{
    background-color: black;
    border: 1px solid black;
}