body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainContainer{
    display: flex;
    flex-direction: column;
}

#headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

#gridContainer{
    display: flex;
    flex-direction: row;
    width: 960px;
    flex-wrap: wrap;
    border: 1px solid black; 
}

.square{
    width: 8px;
    height: 8px;
    border: 1px solid black; 
   /* border: 1px solid white; */
}

/*Simplest way to make hovering 
.square:hover{
    background-color: black;
}*/


.highlightSquare{
    background-color: black;
    border: 1px solid black;
}